@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card {
    width: 305px;
    height: 495px;
    padding: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: hsl(31, 77%, 52%);
}

.card:nth-child(2){
    background-color: hsl(184, 100%, 22%);
}

.card:nth-child(3){
    background-color: hsl(179, 100%, 13%);
}

.card h1 {
    padding: 35px 0;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 1px;
}

.card p {
    color: hsla(0, 0%, 100%, 0.75);
}

.card button {
    margin-top: 80px;
    padding: 16px 26px;
    border: 2px solid hsl(0, 0%, 95%);
    background-color: hsl(0, 0%, 95%);
    border-radius: 23px;
    font-size: 15px;
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    transition: 0.3s;
}

.card:nth-child(2) button{
    color: hsl(184, 100%, 22%);
}

.card:nth-child(3) button {
    color: hsl(179, 100%, 13%);
}

.card button:hover {
    color: hsl(0, 0%, 95%);
    background-color: transparent;
}